




$.ajax({
  type:"GET",
  url:"https://app.ticketmaster.com/discovery/v2/venues/KovZpZAFnIEA.json?apikey=f5oUWGdzD2xIKTd5rGEGxwy0moJZvoWg",
  async:true,
  dataType: "json",
  success: function(json) {
              console.log(json);
              // Parse the response.
              // Do other things.
           },
  error: function(xhr, status, err) {
              // This time, we do not end up here!
           }
});